 
@import url('https://fonts.googleapis.com/css2?family=Poller+One&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
html{
	font-size: 62.5%;
}
body{	
	font-size: 1.6rem; 
	font-weight: 400;
	font-family: "Poller One", sans-serif;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}
h1,h2,h3,h4,h5,h6,p{
	margin: 0;
	padding: 0;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
ul li a,a{
	text-decoration: none;
}
/*======================  Start Page  ======================*/

.star-cat {
	overflow-x: hidden;
}

.main-app {
	width: 100%;
	max-width: 1024px;
	background: #E2D6FF;
	border-radius: 0 0 50px 50px;
	overflow: hidden;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	padding: 50px 30px;
	box-sizing: border-box;
	position: relative;
	padding-top: 20px;
}


/* Top Bar */
.top-bar {
	width: 100%; 
	display: flex;
	justify-content: space-between;
	align-items: center;  
}
.z-99 {
	position: relative;
	z-index: 99;
}

.top-bar img {
	width: 23px; 
	object-fit: contain;
}

.logo img { 
	width: 78px;
	height: 78px;
	text-align: center;
}

.logo-placeholder {
	width: 60px;
	height: 60px;
	background: #ffe600;
	border-radius: 50%;
	margin: 0 auto 10px;
}

.login-text {
	color: #6474BA;
	font-size: 30px;
	font-weight: 300;
	margin-top: 75px;
	position: relative;
	z-index: 99;
	text-transform: uppercase;
}

.star-shape {
	width: 100%;
	position: absolute;
	top: -400px;
	left: 0;
	right: 0;
	margin: 0 auto; 
}

.star-shape img {
	width: 100%; 
}

.form {
	width: 100%;
	max-width: 353px;
	margin: 0 auto; 
	display: flex;
	flex-direction: column; 
	margin-top: 450px;
}

.login-content{
	width: 353px;
}

.form input {
	padding: 13px 20px;
	border-radius: 38px;
	border: none;
	outline: none;
	background: #91A3CE;
	color: #175586;
	font-weight: 600;
	font-family: "Raleway", sans-serif;
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 61px;
	font-size: 15px; 
}

.form input::placeholder {
	color: #175586;
}

.text-center{
	text-align: center;
}

.text-center img {
	position: relative;
	z-index: 9999;
}

.mt-50{
	margin-top: 30px;
}

.btn-2,
.btn-1 {
	background: #6474BA;
	color: white;
	font-weight: bold;
	padding: 12px;
	border: none;
	border-radius: 20px;
	cursor: pointer;
	text-transform: uppercase;
	margin-top: 10px; 
	font-family: "Poller One", sans-serif;
	font-weight: 400; 
	font-size: 20px;
}

.form button {
	margin: 0 auto;
	margin-top: 104px;
	margin-bottom: 14px;
	padding: 12px 34px;
	border-radius: 50px;  
	display: inline-block;
	width: 184px;
} 

.form.form-btn-3 button { 
	padding: 16px 22px;
	margin: 0; 
	width: 100% !important;
}

.form-btn-3 {
	display: flex;
	flex-direction: column;
	gap: 38px;
	margin-bottom: 53px;
}

.m-0{
	margin: 0 !important;
}

.btn-2 {
	background: #1A4D77;
}

.mt-136 {
	margin-top: 136px;
}

.mobile-nav{ 
	background: #EDE5B7;
	width: 100%;
	position: absolute;
	z-index: 999999;
	left: 0;
	top: 0;
	height: 100%;
	padding-top: 136px; 
	display: none;
}

.mobile-nav ul {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 27px;
}
.mobile-nav ul li {
	width: 100%;
	text-align: center;
}
.mobile-nav ul a {
	width: 100%;
	max-width: 290px;
	display: inline-block;
	text-align: center;
	box-sizing: border-box;
	padding: 21px 0;
	border-radius: 70px;
}

.btn-login {
	max-width: 100%;
	margin-bottom: 38px !important;
}

.btn-last-login {
	margin-top: 38px !important;
}

 
#nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
	width: 28px;
	height: 23px;
	position: relative;
	margin: 0px;
	-webkit-transform: rotate(0deg);
	    -ms-transform: rotate(0deg);
	        transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
	z-index: 9999999;
}
#nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
	display: block;
	position: absolute;
	height: 3px;
	width: 100%;
	background: #6474BA;
	border-radius: 0px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	    -ms-transform: rotate(0deg);
	        transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}
#nav-icon4 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
      -ms-transform-origin: left center;
          transform-origin: left center;
}
#nav-icon4 span:nth-child(2) {
	top: 8px;
	-webkit-transform-origin: left center;
	    -ms-transform-origin: left center;
	        transform-origin: left center;
}
#nav-icon4 span:nth-child(3) {
	top: 16px;
	-webkit-transform-origin: left center;
	    -ms-transform-origin: left center;
	        transform-origin: left center;
}
#nav-icon4.open span:nth-child(1) {
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
	top: -2px;
	left: 2px;
}
#nav-icon4.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}
#nav-icon4.open span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	        transform: rotate(-45deg);
	top: 18px;
	left: 2px;
} 

.archive-main {
	background: #FA6005 !important;
}

.archive-text{
	color: #FA6005 !important;
}

.main-app-content {
	margin-top: 455px;
}

.archive-item {
	margin-top: 73px;
	position: relative;
}

.archive-item h4 {
	font-size: 20px;
	color: #fff;
	margin-bottom: 14px;
	text-transform: uppercase;
}

.archive-item ul li {
	font-size: 15px;
	color: #fff;
	font-weight: 600;
	margin-bottom: 0px;
	font-family: "Raleway", sans-serif; 
}

.archive-item ul li:first-child {
	margin-bottom: 14px !important;
}

.archive-content {
	padding-top: 33px;
	position: relative;
	margin-left: 30px;
}

.archive-content::after {
	content: "";
	position: absolute;
	top: 0;
	left: -43px;
	height: 100%;
	width: 3px;
	background: #1C517F;
}

.arch_arrow {
	position: absolute;
	top: -4px;
	left: -59px;
}

.about-main {
	background: #EEE5B7;
	border-radius: 0;
}

.about-app-content {
	margin-top: 415px !important;
}

.about-text {
	color: #CCAA13 !important;
}
.about-text p {
	font-size: 15px;
	font-family: "Raleway", sans-serif;
	width: 100%;
	max-width: 316px;
	text-align: center;
	color: #165586;
	margin: auto;
	line-height: 18px;
}

.about-text p span {
	text-transform: uppercase;
	font-weight: 600;
}

.about-info {
	margin-top: 97px;
	text-align: center;
}

.portfolio-text {
	color: #1C517F;
}

.about-info h3{
	margin-top: 93px;
	font-size: 30px;
	text-transform: uppercase;
	color: #175586;
}

.about-footer-logo {
	margin-bottom: 16px;
}

.about-info ul li {
	margin-top: 31px;
}

.about-info ul li p {
	font-family: "Raleway", sans-serif;
	font-size: 15px;
	color: #165586;
}

.star-shape-2{
	top: inherit;
	bottom: -400px;
}


.about-info {
	padding-bottom: 450px;
}

.about-content {
	position: relative;
	z-index: 9;
}

.about-footer-logo ul {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	align-items: center;
	justify-content: center;
}

.about-footer-logo ul li{
	flex: 0 0 47%;
	text-align: center;
}
.about-footer-logo ul li span{
	font-family: "Raleway", sans-serif;
	font-size: 9px;
	color: #165586;
	display: inline-block;
	text-align: center;
	margin-bottom: 10px;
}
/*.about-footer-logo ul li a{
	font-family: "Raleway", sans-serif;
	display: flex;
	flex-direction: column;
	gap: 12px;
	font-size: 9px;
	color: #165586;
	flex: 0 0 47%;
	text-align: center;
}*/

.profile-app {
	border-radius: 0;
	background: #1C517F !important;
}

.profile-app-content { 
	margin-top: 400px !important;
}

.profile-content ul p {
	font-size: 15px;
	font-weight: 600;
	color: #fff;
	text-align: center;
	font-family: "Raleway", sans-serif;
}

.profile-content ul h4 {
	font-size: 20px; 
	color: #fff;
	text-align: center; 
}

.profile-content ul li {
	margin-bottom: 8px;
}

.profile-content ul {
	margin-top: 60px;
}

.mb-15{
	margin-bottom: 15px !important;
}


.main-pres {
	width: 100%;
	max-width: 1024px;
	background: #E2D6FF; 
	overflow: hidden;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	padding: 50px 0;
	box-sizing: border-box;
	position: relative;
	padding-top: 25px;
}

.pres-box {
	width: 100%;
	text-align: center;
	background: #1C517F;
	border-radius: 50px;
	margin-top: 150px;
	padding-bottom: 51px;
	margin-bottom: 84px;
}

.pres-logo {
	position: absolute;
	top: 15px;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.pres-content h4 {
	font-size: 30px;
	color: #fff;
	padding-top: 230px;
	margin-bottom: 52px;
	text-transform: uppercase;
}

.register-form {
	padding-top: 230px;
}

.pres-content p {
	margin-bottom: 52px;
	color: #fff;
	font-size: 20px;
}

.pres-btn {
	background: #FDEE92;
	padding: 13px 20px;
	display: inline-block;
	border-radius: 50px;
	font-size: 20px;
	color: #1C517F;
}

.pres-btn-ul.no-uppercase li {
	flex: 0 0 25%;
}

.direction-column {
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.mb-30 {
	margin-bottom: 31px;
}

.pres-btn-ul {
	display: flex;
	gap: 25px;
	flex-wrap: wrap;
	justify-content: center;
}
 

.pres-btn-ul li a {
	font-size: 15px;
	display: flex;
	flex-direction: column;
	text-transform: uppercase;
}

.no-uppercase a{
	text-transform : lowercase !important
}

.pres-btn-ul li a:focus {
	color: #fff;
	background: #CCAA13;
}

.pres-paginaion {
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
	padding: 0 60px;
	align-items: center;
}

.pres-paginaion p {
	line-height: 0;
	font-size: 20px;
	margin: 0;
	padding: 0;
}

.pres-top-margin {
	margin-top: 115px
}

.pres-active-btn {
	margin-top: 40px;
	display: flex;
	gap: 25px;
	padding: 0 60px;
	align-items: center;
}

.pres-active-btn a {
	background: #7897B3;
	color: #fff;
	display: flex;
	justify-content: center;
	flex-direction: column;
	font-size: 15px;
	height: 30px;
	padding : 10px 25px !important;
}

.justify-center {
	justify-content: center !important;
}

.mb-40 {
	margin-bottom: 40px;
} 

.register-form{
	margin: 0 auto;
	width: 353px;
}

.form-group label {
	font-size: 15px;
	font-family: "Raleway", sans-serif;
	margin-bottom: 16px;
	display: block;
	line-height: 0;
	color: #fff;
	text-align: left;
	text-transform: uppercase;
	font-weight: 600;
}

.register-btn{
	margin-top: 50px;
}

.form-p label{
	color: #FDEE92 !important;
	margin-bottom: 32px !important;
}

.form-group textarea, .form-group input {
	background: #7192AF;
	border: none;
	height: 41px;
	width: 100%;
	border-radius: 38px;
	padding: 10px 15px;
	color: #fff;
	font-size: 15px;
	font-family: "Raleway", sans-serif;
	box-sizing: border-box;
}

.form-group textarea:focus ,
.form-group input:focus { 
	box-shadow: 0 2px 10px #031524D6;
	outline: none;
}


.form-group textarea{
	resize: none;
	height: 240px;
}

.form-group {
	margin-bottom: 30px;
}
.form-group.form-p label {
	max-width: 230px;
	line-height: 18px;
}

.home-bg {
	margin: 0;
	padding: 0;
	background:  #EEE5B7;
}

.home-text-bg { 
	background: #EEE5B7;
}

.px-0 {
	padding: 0 !important;
}

.home-text-bg {
	background: #EEE5B7;
	width: 100%;
	padding-top: 395px;
	padding-bottom: 46px;
	border-radius: 0 0 50px 50px;
	position: relative;
	z-index: 999;
}

.mx-30 {
	padding: 0 30px ;
}

.top-bar2 {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	box-sizing: border-box;
	padding: 40px;
}

.home-card-content h5,
.home-text-bg h5 {
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 21px;
	font-size: 30px;
}

.home-card-content h5 {
	margin: 84px 0 68px 0;
	color: #EDE5B7;
}

.card-home {
	padding: 69px 36px 57px 36px;
	background: #fff;
	border-radius: 50px; 
	position: relative;
	text-align: center;
}

.home-container {
	width: 100%;
	background-color: #6474BA;
	margin-top: -142px;
	position: relative;
	z-index: -1;
	padding-top: 115px;
}

.card-home{
	width: 100%;
	max-width: 430px;
	box-sizing: border-box;
	margin: 0 auto;
}

.card-home p {
	font-size: 15px;
	font-family: "Raleway", sans-serif;
	color: #165586;
	font-weight: 400;

}

.card-home span {
	font-weight: 700; 
}

.home-card-content a {
	width: 290px;
	background: #FA6005;
	display: inline-block;
	height: 73px;
	border-radius: 70px;
	font-size: 20px;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: -36px;
	margin: 0 auto;
	left: 0;
	right: 0;
}


.home-card-content a::before {
	content: "";
	position: absolute;
	top: 79%;
	left: 45%;
	width: 0;
	height: 0;
	border-top: 28px solid #FA6005;
	border-right: 28px solid transparent;
	transform: rotate(-135deg);
	margin: 0 auto;
	text-align: center;
}

.card-home {
	margin-bottom: 55px;
}


.come-area {
	border-radius: 0 0 50px 50px;
	text-align: center;
	padding-bottom: 44px;
	background-color: #972B60;
	margin-top: -200px;
	position: relative;
	z-index: -2;
	width: 100%;
}

.home-card-content::after {
	content: "";
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 200px;
	background: #972B60;
	z-index: -1;
}

.home-card-content { 
	position: relative;
}

.home-content{
	width: 100%;
}

.come-area h5 {
	font-size: 30px;
	padding-top: 200px;
	margin-bottom: 40px;
	color: #C0E2A9;
	text-transform: uppercase;
}

.come-btn {
	position: relative;
	font-size: 20px; 
	color: #972B60;
	text-transform: uppercase;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 70px;
	width: 290px;
	margin: 0 auto;
	height: 73px;

}

.come-right {
	position: absolute;
	right: -25px;
	top: 22px;
}

.come-left {
	position: absolute;
	left: -25px;
	top: 22px;
}

.dove-area {
	background: #C0E2A9 !important;
	margin-top: -145px;
	z-index: -11;
}

.dove-area h5{
	color: #175586 !important;
}

.dove-area ul li  {
	margin-bottom: 17px;
}

.dove-area ul li a {
	color: #FA6005 ;
	font-size: 20px;
} 

.home-info{ 
	background: #EEE5B7;
	margin-top: -152px;
	position: relative;
	z-index: -111;
	padding-top: 120px;
}

.home-bg
.star-shape { 
	z-index: 999;
}

.home-footer {
	z-index: 999;
	position: relative;
	padding-bottom: 50px;
}

.category-bg{
	background: #972B60;
}

.category-text{
	color: #972B60;
} 

.category-app {
	background: transparent;
	border-radius: 0 !important;
	min-height: auto !important; 
	height: 593px;
}

.category-content {
	margin-top: 75px;
}

.cat-search {
	width: 100%;
	max-width: 285px;
	margin: 0 auto;
	position: relative;
}


.cat-search input {
	width: 100%; 
	border-radius: 87px; 
	border: none;
	height: 37px;
	padding: 2px 15px;
	color: #972B60;
	padding-left: 44px;
	font-size: 18px;
}

.cat-search img {
	position: absolute;
	top: 7px;
	left: 10px;
}

.cat-tabs h5 {
	margin: 46px 0 23px 0;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	font-size: 20px;
	font-family: "Raleway", sans-serif;
}

.cat-tabs ul li a {
	/* width: 73px; */
	padding: 5px 20px;
	background: #C589A7;
	display: inline-block;
	font-family: "Raleway", sans-serif;
	font-size: 15px;
	color: #fff;
	border-radius: 50px;
	text-align: center;
}

.cat-tabs ul {
	width: 100%;
	max-width: 385px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	margin-bottom: 54px;
	justify-content: center;
}

.cat-img img{
	width: 100%;
}
 

.cat-left h4 {
	font-size: 20px;
	color: #165586;
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	margin-bottom: 24px;
	text-transform: uppercase;
}

.cat-left p {
	font-size: 15px;
	color: #165586;
	font-family: "Raleway", sans-serif; 
}

.cat-item {
	padding: 18px 18px 18px 34px;
	background: #fff;
	border-radius: 50px;
	display: flex;
	margin-bottom: 35px;
}

.cat-left {
	flex: 0 0 62%;
}


.card-cate{
	width: 100%;
	max-width: 430px;
	margin: 0 auto;
}

.eta-flex {
	display: flex;
	gap: 15px;
	margin: 62px 0 36px 0;
}

.eta-content-btn p { 
	color: #fff; 
	font-size: 20px;
	 font-family: "Raleway", sans-serif;
}

.eta-content-btn span {
	font-weight: 700;
}

.eta-content-btn {
	background: #972B60;
	border-radius: 50px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.eta-main-app { 
	height: auto;
}

.eta-box > h4 {
	color: #175586;
	margin-bottom: 26px;
	font-size: 20px;
	font-family: "Raleway", sans-serif;
}

.eta-content-box > h5 {
	color: #972B60; 
	font-size: 15px;
	font-family: "Raleway", sans-serif;
}

.eta-content-box > p {
	color: #165586;
	margin-bottom: 14px;
	font-size: 15px;
	font-family: "Raleway", sans-serif;
}

.eta-content {
	width: 100%;
	max-width: 368px;
	margin: 0 auto;
}

.graz-area-color { 
	background: #E2D6FF;
}

.graz-area {
	position: relative;
	overflow-x: hidden;
	height: 100vh;
}

.graz-star-box {
	width: 221%;
	position: absolute;
	top: 0;
	left: -58%;
}

.graz-star-box img {
	width: 100%;
}

.graz-content {
	position: relative;
	z-index: 9;
	text-align: center;
	margin: 270px 0;
}

.graz-content h4 {
	font-size: 20px;
	margin: 42px 0 10px 0;
	color: #1C517F;
}

.graz-content p {
	width: 300px;
	margin: 0 auto;
	font-size: 15px;
	color: #1C517F;
}

.graz-btn {
	background: #FDEE92;
	display: flex;
	justify-content: center;
	width: 185px;
	height: 50px;
	border-radius: 135px;
	align-items: center;
	font-size: 20px;
	color: #1C517F;
	text-transform: uppercase;
	margin: 0 auto;
	margin-top: 42px;
}












/*======================  End Page  ======================*/



/* font-family: "Raleway", sans-serif; */